
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header img {border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
    width: 100%;
    height: auto;
}

html {
    font-size: 62.5%;
}

main {
    margin: 2.5rem 1rem;

}

main label {
    color: aliceblue;
    font-size: 1rem;
}

button {
    margin-top: 3rem;
    color: whitesmoke;
    border-radius: 1.8rem;
    background-color: #386dbd;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
    padding: 5px;
    width: 15rem;
}

aside {
    color: aliceblue;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

main img {
 
    border-color: #1058cc;
    border-style: solid;
    max-width: 400px;
    width: 100%;
    height: auto;
    box-shadow: rgba(23, 64, 198, 0.519) 0px 30px 90px;
    border-radius: 5rem;
}


main h3 {
    text-align: center;
    font-size: 2.3rem;
}

body {
 background-image: url(xxx.jpg);
 background-size: cover;
 
}

h1,
h2,
h4{

    color: #0f3671;
    text-align: center;
    font-weight: 700;
}

h3 {
    margin: 1rem 2rem 1rem 2rem;
    color: #0f3671;
    font-weight: 700;

}



nav {
    align-content: center;
    align-items: center;
    justify-content: center !important;
    font-weight: 600;
    font-size: 2rem;
    background-color:#1d639d;

}

nav ul li {
    margin: 2rem;
}

.nav-link {
    color: #d4e6ed;
}

.nav-link.active {
    color: #d4e6ed !important;
 
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-around;
}

.navbar-toggler {
    border-color: #d4e6ed;
}



.flex_index {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container_texto {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    background-color:#1d639d;
    box-shadow: 0 0 20px rgb(6, 80, 192);
    border-radius: 1rem;
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    width: 90%;
    padding: 2rem;
}

.d-flex {
    flex-direction: column;
}

.grid-container {
display: flex;
flex-wrap: wrap;
justify-content: center;

    grid-gap: 1em;
}



.location-image {
    line-height: 0;
    overflow: hidden;
    transition: filter 1.9s ease-in;

}


.location-image:hover {
    transform: scale(1.21);
}

.mapa {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-color: #000;
    border-style: double;
    padding: 10px;
    border-radius: 20px;
    margin: 3rem;
    background-color: #386dbd;
}
.formulario {
    display:flex ;
    align-items: center;
    align-content: center;
    justify-content: space-around
}
form label {

    display: inline-block;
}

form input[type="password"]{
    margin: 1rem;
}
form input[type="text"]{
    margin: 1rem;
}
form input[type="email"] {

    width: 80%;
    height: 3rem;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: rgb(157, 212, 255);
    margin: 0;
}

form input[type="submit"] {
    width: 60%;
    margin: 0;
    border: 1px solid #000;
    border-radius: 18px;
    color: #fff;
    background-color:#142c83;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: rgb(157, 212, 255);
    margin: 0;
    margin-bottom: 2rem;
    resize: none;
}

.color-red {
    color: darkred;
}

.formu {
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 2rem;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

input {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.6rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(157, 212, 255);
}

.padding {
    padding-bottom: rem;
}


aside input {

    width: 25%;
    margin-top: 1rem;

}

;

aside button {
    width: 50%;
}

#front {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30%;
}

#backl {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30%;
}

.fondoColor {
    border-radius: 1rem;
    background-color:#009ddd;
}

#blanco {
    color: #0f3671;
}
.sesionIniciada {
    margin-top: 2rem;
    font-size: 2rem;
    color: rgb(255, 159, 5);
    font-weight: 600;
}
.titulo , .parrafo {
    color:aliceblue !important;
}